
<!DOCTYPE html>
{% extends "admin3.html" %} 
{% load staticfiles i18n %}	
<html>
<head>
	<title></title>
	
</head>
<body>
		{% block  footer%}
		<center><p>Listado de cerdos</p><br>
	
		<table FRAME="border" RULES="none" >
				
			<thead>
				<tr >
	<th >nombre</th>
	<th >Cerdo</th>
	<th >peso</th>
	</tr>
	</thead>
	<tbody ALIGN="center">
	
	{% for i in object_list %}
	<tr >
		<td  >{{i.nombre}}</td>
		<td  >{{i.cerdo}}</td>
		<td  >{{i.descripcion}}</td>
				
	</tr>
	{% endfor %}
	</tbody>
	</table>
	
	{% endblock %}
	
