{% extends "admin.html" %} 
{% load staticfiles %}

{% block header %}<br><br><br><br><br><br><br><br>
    <br>
    <div class="container">
    <form method="post" class="form-center">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{hidden}}
        
        {% endfor %}

        <div class="form-group">
            <label for="{{form.nombre.id_for_label}}"
                    class="col-sm-8 control-label">{{ form.nombre.label }}</label>
                <div class="col-sm-8">
                    {{form.nombre}}
                </div>
        </div>
        <div class="form-group">
                <label for="{{form.genero.id_for_label}}"
                        class="col-sm-8 control-label">{{ form.genero.label }}</label>
                    <div class="col-sm-8">
                        {{form.genero}}
         </div>
        </div>
        <div class="form-group">
                <label for="{{form.peso.id_for_label}}"
                        class="col-sm-8 control-label">{{ form.peso.label }}</label>
                    <div class="col-sm-8">
                        {{form.peso}}
                    </div>
        </div>
      
        <div class="form-group">
                <label for="{{form.status.id_for_label}}"
                        class="col-sm-8 control-label">{{ form.status.label }}</label>
                                           {{form.status}}
                   
        </div>
        <div class=" container form-group">
                <div class="  col-sm-offset-8 col-sm-8">
                        <a class="btn btn-primary pull-left" href="{% url 'list_cerdos' %}">Volver     </a>
                <input class="btn btn-primary pull-right" type="submit" name="submit"
                value="Guardar">
            </div>
        </div>


    </form>
</div>

</table><br><br><br><br><br><br><br><br
{% block  footer%}
{% endblock %}
{% endblock %}