{% extends "admin.html" %}
{% load staticfiles %}

{% block header %}<br><br>
    <br>
    <div class="container">
    <form method="post" class="form-center">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{hidden}}

        {% endfor %}<br><br><br><br>

        <div class="form-group ">
            <label class="container" for="{{form.cerdo.id_for_label}}"
                    class="col-sm-8 control-label">{{ form.cerdo.label }}</label>
                <div class="col-sm-8">
                    {{form.cerdo}}
                </div>
        </div>
        <div class="form-group">
                <label for="{{form.fecha_gestacion.id_for_label}}"
                        class="col-sm-8 control-label">{{ form.fecha_gestacion.label }}</label>
                    <div class="col-sm-8">
                        {{form.fecha_gestacion}}
         </div>
        </div>
        <div class="form-group">
                <label for="{{form.fecha_parto.id_for_label}}"
                        class="col-sm-8 control-label">{{ form.fecha_parto.label }}</label>
                    <div class="col-sm-8">
                    {{ form.fecha_parto }}

                    </div>
        </div>
        <div class="form-group">
                <label for="{{form.numero_partos.id_for_label}}"
                        class="col-sm-8 control-label">{{ form.numero_partos.label }}</label>
                    <div class="col-sm-8">
                        {{form.numero_partos}}
                      
                    </div>
        </div>
        <div class="form-group">
                <label for="{{form.cantidad_por_parto.id_for_label}}"
                        class="col-sm-8 control-label">{{ form.cantidad_por_parto.label }}</label>
                    <div class="col-sm-8">
                        {{form.cantidad_por_parto}}
                    </div>
        </div>
        <div class="form-group">
                <label for="{{form.status.id_for_label}}"
                        class="col-sm-8 control-label">{{ form.status.label }}</label>
                                           {{form.status}}
                   
        </div>

        <div class="form-group">
            
                <div class=" col-sm-offset-8 col-sm-8">
                        <a class="btn btn-primary pull-left" href="{% url 'list_partos' %}">Volver     </a>
                <input class="btn btn-primary pull-right" type="submit" name="submit"
                value="Guardar">
            </div>
        </div>


    </form>


</div><br><br><br><br><br><br><br><br
{% block  footer%}
		{% endblock %}
{% endblock %}
