{% extends "admin.html" %} 
{% load staticfiles %}

{% block header %}<br><br><br><br><br><br><br><br>
<br>
    <div class="container">
    <form method="post" class="form-center">
        {% csrf_token %}
        <p align="center"  class="text-success fa-2x text-danger">Seguro que desea eliminar el registro{{cerdoEliminar.full_cerdo}}</p>

        <div class="form-group">
                
                <div class=" container col-sm-offset-8 col-sm-8">
                    <a class="btn btn-primary pull-left" href="{% url 'list_cerdos' %}">Volver     </a>
                    <input class="btn btn-primary pull-right" type="submit" name="submit"
                    value="Eliminar">
                </div>
            </div>

    </form>
    
		</table><br><br><br><br><br><br><br><br
		{% block  footer%}
		{% endblock %}
{% endblock %}