{% extends "admin.html" %}
{% load staticfiles i18n %}
{% block header %}<br><br><br><br><br><br><br><br>
<h1 class="container">Listado de Partos</h1>
	<div class="container">
			<table class="container">
				<thead>
					<th><a class="btn btn-primary" href="{% url 'crear_partos' %}"> Nuevo Parto</a></th>

					<th>
							<form class="container" method="POST" action="{% url 'buscar_parto'%}">
									{% csrf_token %}
								
								   <input class="search-query" placeholder="Buscar por nombre" type="Date" name="buscalo">
								
								   <input class=" btn btn-primary icon-search" type="submit" value="buscar">
								
							   </form>
							</div>
							<th><a class="btn btn-primary" href="{% url 'pdfparto' %}"> pdf</a></th>
					</th>

				</thead>
			</table>
		</div>

	</div>


	<div class="container">
		<table class="table">
			<thead>
			<th>
				Cerdo
			</th>
			<th>
				Fecha de Gestacion
			</th>
			<th>
				Fecha de Parto (Aprox.)
			</th>
			<th>
				Numero de partos
			</th>
			<th>
				Cantidad de Cerdos paridos
			</th>
			<th>
				{% if perms.vacunas.change_vacunas %}
				Editar
				{% endif %}
			</th>
			<th>
					{% if perms.vacunas.change_vacunas  %}
				Eliminar
				{% endif %}
			</th>
		</thead>
		<tbody  >
			
			{% for cer in parto1 %}
			<tr>
			<td>
				{{cer.cerdo}}
			</td>
			<td>
				{{cer.fecha_gestacion}}
			</td>
			<td>
				{{cer.fecha_parto}}
			</td>
			<td>
				{{cer.numero_partos}}
			</td>
			<td>
				{{cer.cantidad_por_parto}}
			</td>
			<td>

					{% if  perms.vacunas.change_vacunas %}

					<a class="btn btn-info" href="{% url 'editar_partos' cer.id %}">Editar</a>
					{% endif %}


			</td>
			<td>{% if  perms.vacunas.change_vacunas %}
					<a class="btn btn-danger" href="{% url 'eliminar_partos' cer.id %}">Eliminar</a>{% endif %}
			</td>
		</tr>
			{% endfor %}

		</tbody>

		</table><br><br><br><br><br><br><br><br
		{% block  footer%}
		{% endblock %}


	</div>
{% endblock %}
